

.courses {
    animation: fadeIn 0.5s;
    /* height: 100%; */
    margin-top: 2em;
    margin-inline: 2em;
}

.course-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
    height: 100%;
}

.course-admin-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.course-admin-actions {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
}

.course-admin-resources {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
}

.course-admin-resources iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.course-admin-chat {
    display: flex;
    align-items: center;
    gap: 1em;
}

.course-admin-close {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 20px;
}

.sessions {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 550px;
    transition: all ease-in-out 0.25s;
}

.sessions-header {
    display: flex;
    justify-content: space-between;
    background-color: #eb8136;
    color: white;
    padding: 10px;
    text-align: center;
}

.sessions-list {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px #eb8136;
}

.session-item {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: transform 0.2s;
}

.session-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.session-item-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.session-item-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.session-item-date {
    font-size: 0.9em;
    color: #999;
    text-align: right;
}

.session-item-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.session-item-buttons button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.session-item-icon {
    /* filter: drop-shadow(0 0 2px green); */
}

.sessions-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #eb8136;
    padding: 5px;
    font-size: 18px;
    gap: 10px;
    margin-top: 20px;
}

.session-assignations {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 3px solid #e0e0e0;
    animation: slideFromTop 0.5s;
}

.assignation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}

.assignation-title {
    font-size: 1em;
    font-weight: bold;
}

.assignation-state {
    font-size: 0.9em;
    color: #666;
}

.assignation-details-button {
    cursor: pointer;
    font-size: 0.9em;
    transition: color 0.2s;
}

.assignation-details-button:hover {
    color: darkblue;
}

/* Assignation Inspector */

.assignation-info {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    box-shadow: 0 2px 10px #eb8136;
}

.assignation-info-header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.assignation-info-title {
    font-size: 1.5em;
    font-weight: bold;
}

.assignation-info-state {
    font-size: 1em;
    color: #fc9140;
    font-style: italic;
}

.assignation-info-content {
    margin-top: 10px;
}

.assignation-info-description {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

.assignation-info-comments {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 400px;
    gap: 10px;
    overflow-y: auto;
}

.assignation-info-comments-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.assignation-info-comment {
    padding: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 10px;
}

.assignation-info-comment:last-child {
    border-bottom: none;
}

.assignation-info-comment-user {
    font-size: 1em;
    font-weight: bold;
    color: #555;
}

.assignation-info-comment-comment {
    font-size: 1em;
    color: #333;
    margin: 5px 0;
}

.assignation-info-comment-date {
    font-size: 0.9em;
    color: #999;
    text-align: right;
}

.assignation-info-add-comment {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    justify-content: center;
    padding-block: 10px;
}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    padding-inline: 2em;
  }
  
  .timeline-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    gap: 1em;
    margin: 1rem 0;
  }

  .timeline-itme-date {
    display: flex;
    padding: 10px;
  }

  .timeline-item-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .timeline-item-title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .month {
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    margin-right: 0.5rem;
  }
  
  .status {
    font-size: 1rem;
    background-color: #eb8136;
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    margin-right: 1rem;
  }


  
.inspect-new-course {
    background-color: #e8e8e8;
    border: 1px solid #333;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}