.chat-container {
    display: flex;
    position: absolute;
    align-self: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s forwards;
    z-index: 9999;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    background-color: #f3b45b;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-header h2 {
    margin: 0;
}

.chat {
    flex: 1;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.chat-message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.chat-message.sent {
    justify-content: flex-end;
}

.chat-message.received {
    justify-content: flex-start;
}

.chat-message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 15px;
    background-color: #e0e0e0;
    color: #333;
    word-wrap: break-word;
}

.chat-message.sent .chat-message-content {
    background-color: #f3b45b;
    color: white;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
}

.chat-input button {
    background-color: #f3b45b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #f3b45b;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}