
.memberships {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: linear-gradient(90deg, #f3e8d9, #f7dbb6, #f3e8d9);
    animation: slidernbw 3s infinite;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #333;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #eb8136;
    filter: drop-shadow(0 0 0.75rem #f5c581);
    transition: all ease-in-out 0.25s;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.banner-logo {
    display: flex;
    flex-direction: column;
}

.banner-logo img {
    width: 500px;
    height: auto;
    margin: 0;
}

.banner-logo h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #eb8136;
}

@keyframes slidernbw {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 20vw 0;
    }
}