

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s;
    transition: all ease-in-out 0.25s;
    top: 150px;
    right: 80px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}