

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 20px;
    animation: fadeIn 0.5s;
    transition: all ease-in-out 0.25s;
    top: 180px;
    right: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: #f5c581;
    border-bottom: 1px solid #333;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
}

.menu-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    width: 100%;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding-block: 0.5em;
    background-color: #fff;
    border-bottom: 1px solid #bcb5b5;
    transition: all ease-in-out 0.25s;
    width: 100%;
}

.menu-item:hover {
    background-color: #f3e8d9;
    color: #333;
}

.menu-item:first-child {
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-top: 1px solid #bcb5b5;
}

/* .menu-item:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
} */

.menu-button {
    background: linear-gradient(90deg, #f5c581, #f3e8d9, #f5c581);
    background-size: 20vw 100%;
    border: 1px solid #bcb5b5;
    animation: slidernbw 3s infinite;
    filter: drop-shadow(0 0 0.75rem #f5c581);
    transition: all ease-in-out 0.25s;
}

.menu-button:hover {
    background: #333;
    color: #fff;
}

@keyframes slidernbw {
    to {
     background-position: 20vw;
    }
}