.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cec3c3;
  background-image: url('https://datapath.ai/assets/img/HeroHome.svg');
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s forwards;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.login-form-title {
  font-size: 2em;
  text-align: center;
}

.login-button {

}

.login-button-disabled {
  background-color: #e0e0e0;
  color: #333;
  cursor: not-allowed;
}

.login-icon {
    display: flex;
    justify-content: center;
    height: 100px;
    filter: drop-shadow(0 0 2em #ff850aaa);
    padding: 20px;
    transition: all ease-in-out 0.25s;
}

.image-container {
  display: flex;
  justify-content: center;
}

.google-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    background:
        linear-gradient(180deg,  #facca0, #ffb76f) padding-box,
        linear-gradient(217deg, #ffbf4f, #c86dac) border-box;
}

.forgot-password {
  margin-bottom: 20px;
  color: #ff850aaa;
  &::after {
    content: '🧐';
  }
}

.register-form {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff850aaa #fff;
}

.register-form h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  display: flex;
  align-items: center;
}

.step-label {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.current-step {
  background-color: #26b6da;
  color: white;
}

.completed-step {
  background-color: #26da7d;
  color: white;
}

.step-line {
  width: 50px;
  height: 4px;
  background-color: #e0e0e0;
  margin: 0 8px;
  transition: background-color 0.3s;
}

.completed-line {
  background-color: #26da7d;
}

.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* background-color: #e0e0e0; */
  background: linear-gradient(90deg, #f5c581, #f3e8d9, #f5c581);
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.error {
    margin: 0;
  color: red;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}