:root {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #eb8136;
  text-decoration: inherit;
  transition: all ease-in-out 0.25s;
}
a:hover {
  color: #e44b4b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3e8d9;
  color: #333;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #eb8136;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #333;
  transition: border-color 0.25s;
}

input:hover {
  border-color: #eb8136;
}

input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  border-color: #eb8136;
}

