
.main_wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.app-content {
    width: 100%;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}